<h1>Scriptus</h1>
<h3>a python micro-framework</h3>
<br><br><br><br>
<h4>welcome:</h4>
<p>Scriptus is a python micro-framework for python wsgi<br>
it can do your website's routing , cookie , session handling and GET and POST request processing<br>
</p><br>
<h4>installation:</h4>
<p>for now Scriptus is not really an installable package , you just put the files where you can import them and you're ready to go
, however ,<br>you can use the setup.py script to organize your file structure 
<br><br>
<h4>getting started:</h4>
<p>now you have everything ready , time to do some coding
<br>
a hello world example:
<br>
<pre style="background:#f9f9f9;color:#080808"><span style="color:#794938">from</span> Scriptus <span style="color:#794938">import</span> Scriptus

app<span style="color:#794938">=</span>Scriptus()

<span style="color:#a71d5d;font-style:italic">def</span> <span style="color:#bf4f24">helloworld</span>(<span style="color:#234a97">request</span>):
    <span style="color:#794938">return</span> <span style="color:#0b6125">'hello world'</span>

app.route(<span style="color:#0b6125"><span style="color:#a71d5d;font-style:italic">r</span>'<span style="color:#794938">^</span>/<span style="color:#794938">$</span>'</span>,helloworld)
</pre>
<br>
save this file to index.py (for example)<br>
now in your file's directory, run this code<br>

<pre style="background:#f9f9f9;color:#080808">python server.py index.py
</pre><br>

what happened here is you attached the helloworld function for the '/' URL
<br>
now how about a more advanced URL , one that can take a username for example:<br>
it should look like this in the browser : user/(username)<br>
as a regular expression it'll be like this : r'^/user/([a-zA-z]+)/?$'<br>
<br>
<pre style="background:#f9f9f9;color:#080808"><span style="color:#a71d5d;font-style:italic">def</span> <span style="color:#bf4f24">welcome</span>(<span style="color:#234a97">request</span>,<span style="color:#234a97">name</span>):
    <span style="color:#794938">return</span> <span style="color:#0b6125">'welcome <span style="color:#696969;font-weight:700">%s</span>'</span><span style="color:#794938">%</span>name

app.route(<span style="color:#0b6125"><span style="color:#a71d5d;font-style:italic">r</span>'<span style="color:#794938">^</span>/user/(<span style="color:#696969;font-weight:700">[<span style="color:#811f24;font-weight:700">a-z</span><span style="color:#811f24;font-weight:700">A-Z</span>]</span><span style="color:#794938">+</span>)/<span style="color:#794938">?</span><span style="color:#794938">$</span>'</span>,welcome)
</pre><br>

now add this piece of code to the rest of your code , so it should all look like this :<br>
<pre style="background:#f9f9f9;color:#080808"><span style="color:#794938">from</span> Scriptus <span style="color:#794938">import</span> Scriptus

app<span style="color:#794938">=</span>Scriptus()

<span style="color:#a71d5d;font-style:italic">def</span> <span style="color:#bf4f24">helloworld</span>(<span style="color:#234a97">request</span>):
    <span style="color:#794938">return</span> <span style="color:#0b6125">'hello world'</span>

app.route(<span style="color:#0b6125"><span style="color:#a71d5d;font-style:italic">r</span>'<span style="color:#794938">^</span>/<span style="color:#794938">$</span>'</span>,helloworld)

<span style="color:#a71d5d;font-style:italic">def</span> <span style="color:#bf4f24">welcome</span>(<span style="color:#234a97">request</span>,<span style="color:#234a97">name</span>):
    <span style="color:#794938">return</span> <span style="color:#0b6125">'welcome <span style="color:#696969;font-weight:700">%s</span>'</span><span style="color:#794938">%</span>name

app.route(<span style="color:#0b6125"><span style="color:#a71d5d;font-style:italic">r</span>'<span style="color:#794938">^</span>/user/(<span style="color:#696969;font-weight:700">[<span style="color:#811f24;font-weight:700">a-z</span><span style="color:#811f24;font-weight:700">A-Z</span>]</span><span style="color:#794938">+</span>)/<span style="color:#794938">?</span><span style="color:#794938">$</span>'</span>,welcome)

</pre>


<br>

now let's set a cookie and read it from somewhere else ...<br>
to do this we need to start dealing with <a href="#Response">Response</a> objects<br>
add this import to your code:<br>
<pre style="background:#f9f9f9;color:#080808"><span style="color:#794938">from</span> Scriptus.wrappers <span style="color:#794938">import</span> Response

</pre><br>

add this to your code:<br>
<pre style="background:#f9f9f9;color:#080808"><span style="color:#a71d5d;font-style:italic">def</span> <span style="color:#bf4f24">setcookie</span>(<span style="color:#234a97">request</span>):
    <span style="color:#5a525f;font-style:italic">#create an instance of Response</span>
    response<span style="color:#794938">=</span>Response()

    <span style="color:#5a525f;font-style:italic">#set the cookie</span>
    response.setcookie(<span style="color:#0b6125">'name'</span>,<span style="color:#0b6125">'new user'</span>)

    <span style="color:#5a525f;font-style:italic">#set the text of the response</span>
    response.text<span style="color:#794938">=</span><span style="color:#0b6125">"cookie was set"</span>

    <span style="color:#794938">return</span> response

app.route(<span style="color:#0b6125"><span style="color:#a71d5d;font-style:italic">r</span>'<span style="color:#794938">^</span>/cookie/setcookie/<span style="color:#794938">?</span><span style="color:#794938">$</span>'</span>,setcookie)

</pre>

<br>

now if you go to "/cookie/setcookie/" a new cookie with the name "name" and the value "new user" will be set in your browser<br><br>

retrieving the cookie is as easy as setting it , this time you'll read it from the <a href="#Request">Request</a> object<br>
<pre style="background:#f9f9f9;color:#080808"><span style="color:#a71d5d;font-style:italic">def</span> <span style="color:#bf4f24">readcookie</span>(<span style="color:#234a97">request</span>):
    <span style="color:#5a525f;font-style:italic">#retrieve the value of the set cookie from the request object</span>
    cookievalue<span style="color:#794938">=</span>request.getcookie(<span style="color:#0b6125">'name'</span>)
    <span style="color:#794938">return</span> <span style="color:#0b6125">'cookie value : <span style="color:#696969;font-weight:700">%s</span>'</span><span style="color:#794938">%</span>cookievalue

app.route(<span style="color:#0b6125"><span style="color:#a71d5d;font-style:italic">r</span>'<span style="color:#794938">^</span>/cookie/readcookie/<span style="color:#794938">?</span><span style="color:#794938">$</span>'</span>,readcookie)
</pre><br>
this should return " cookie value : new user "




</p><br>
